@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

        .logout {
            margin-top: auto;
            padding: 25px 25px 25px 0px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            justify-content: center;
            justify-content: space-between;
        }



        .hiddenContent {
            display: none;
            padding: 10px;
            background-color: #f0f0f0;
            margin-top: 0px;
            width: 200px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            display: flex;
            justify-content: center;
        }

        .transitioning {
            transition: height 0.3s ease-in-out; /* Adjust the duration and easing as needed */
        }

        .logout-text {
            color: white;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
        }

        .collap {
            height: 0px;
        }

        button {
            background-color: rgba(0, 0, 0, 0.2); /* Adjust the alpha value (0.5) for the desired transparency */
        }

        .logout-div {
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: row;
            font-family: 'Inter', sans-serif;
            font-weight: 100;
            font-size: 15px;
            border-radius: 4px;
            padding: 5px 10px;
            width: 170px;
            font-weight: 200;
            color: white;
            cursor: pointer;
        }

            .logout-div:hover {
                color: #A6AA46;
                font-weight: 200;
            }

        .horizontal-line {
            border: 1px groove white; /* Set the color of the line */
            margin: 10px 0; /* Adjust margin as needed */
        }
    </style>
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="logout-div" style="margin-top: auto;">
                <div style="display: flex; align-items: center; justify-content: space-between; " onclick="document.getElementById('logoutForm').submit()">
                    <img src="~/Content/Images/logout.png" alt="Logout Image" class="nav-icons" style="height: 24px; " />
                    <div style=" font-family: 'Jaldi', sans-serif; font-size: 19px; padding-left: 25px; ">Logout</div>
                </div>
            </div>
            @*<hr class="horizontal-line">*@


            <div style="display: flex; justify-content: space-between; flex-direction: row; padding-bottom:40px;">
                <div style="display: flex;  ">

                </div>

            </div>
        }
    }
    <script>
        var coll = document.getElementsByClassName("collap");
        var i;

        for (i = 0; i < coll.length; i++) {

            coll[i].addEventListener("click", function () {


                if (this.classList.toggle("active")) {
                    this.style.borderBottomLeftRadius = "12px";  // Set border-radius when clicked

                    this.style.height = "550px";
                }
                else {
                    this.style.height = "150px";
                }

            });
        }


    </script>
</body>


</html>




