<!DOCTYPE html>
<html>
<head>
    <title>PDF Header</title>
    <style>
        /* Define CSS styles for your header */
        .header {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="@Url.Content("~/Content/Images/verify-logo.jpg")" alt="Logo" />
    </div>
</body>
</html>

