@*@model IEnumerable<CPV_Mark3.Models.CaseImage>*@
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@{

    List<(int, string, int)> imageslist = (List<(int, string, int)>)ViewBag.Images;
}


<style>
    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px; /* Adjust the gap between items as needed */
    }

    .grid-item {
        width: 100%;
        height: 100%;
    }




    /*.image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));*/ /* Adjust the percentage based on your preference */
        /*gap: 0px;
    }*/

    .draggable-image {
        width: 350px;
        max-height: 400px;
        border: 1px double black;
        padding: 0px;
        box-sizing: border-box;
        cursor: url('/Content/Images/move.png'), auto;
        /*width: 100%;
        height: 100%;
        object-fit: cover;*/
    }

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers content horizontally */
        margin-bottom: 10px; /* Adjust the margin between image/button pairs as needed */
    }

    span input[type="button"] {
        width: 100%;
        margin-top: 5px; /* Adjust the space between the image and the button */
        background-color: #ff0000; /* Example background color */
        color: #ffffff; /* Example text color */
    }

    span input[type="button"]:hover {
        width: 100%;
        margin-top: 5px; /* Adjust the space between the image and the button */
        background-color: #ff0000; /* Example background color */
        color: #ffffff; /* Example text color */
    }
</style>

<div class="image-grid">
    @foreach (var img in imageslist)
    {
        @*<img id="@img.Item1" class="draggable-image" src="data:image/png;base64,@img.Item2" alt="Image" />
        <span><input type="button" value="delete" /></span>*@

            <img id="@img.Item1" class="draggable-image" src="data:image/png;base64,@img.Item2" alt="Image" />
            @*<span><input type="button" value="delete" class="btn" /></span>*@
    }
</div>





<div class="form-group" style="padding-top:10px">
    <input type="button" value="Rearrange" class="btn ChngBtn" id="ChngBtn" />
</div>