@*@model IEnumerable<CPV_Mark3.Models.CaseImage>*@
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@{

    List<(int, string, int)> imageslist = (List<(int, string, int)>)ViewBag.Images;
}


<style>
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* Adjust the percentage based on your preference */
        gap: 10px;
    }

    .draggable-image {
        max-width: 100%;
        max-height: 100%;
        border: 0.5px groove #148888;
        padding: 20px;
        box-sizing: border-box;
    }
</style>

<div class="image-grid">
    @foreach (var img in imageslist)

    {
        <img id="@img.Item1" class="draggable-image" src="data:image/png;base64,@img.Item2" alt="Image" />
    }
</div>

@*@foreach (var img in imageslist)
    {

        <img id="@img.Item1" class="draggable-image" src="data:image/png;base64,@img.Item2" alt="Image" style="max-width: 400px; max-height: 400px; margin: 10px 5px; border: 0.5px groove #148888; padding: 20px;" />
    }*@


<div class="form-group">
    <input type="button" value="Save Changes" class="ChngBtn" id="ChngBtn" />
</div>